.custom-date-picker {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  overflow: hidden;
}

.custom-date-picker:hover {
  border-color: #ffab40;
}

.custom-date-input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  color: rgb(22 55 90);
}

.custom-date-input:focus {
  border: 2px solid #ffab40;
  color: rgb(22 55 90);
}

.custom-date-picker:focus-within {
  border-color: #ffab40;
}
