.editor-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.custom-quill {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.custom-quill .ql-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.custom-quill .ql-editor {
  flex: 1;
  overflow-y: auto;
}
